@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
    overflow-x: hidden;
    max-width: 100%;
    background: rgb(245,250,251);
    background: linear-gradient(90deg, rgba(245,250,251,1) 0%, rgba(200,220,233,1) 35%, rgba(200,220,233,1) 100%);
    font-family: 'Libre Baskerville', serif;
    font-size: larger;
    color: #29435d;
}

.img-logo {
    padding-top: 10px;
    padding-left: 10px;
}

.container {
	padding-top: 10vh;
}

.card {
    border-radius: 25px;
}

.btn-accent {
    background-color: #29435d;
    color: #FFF;
}

.btn-accent:hover {
    background-color: #182837;
    color: #FFF;
}